<!DOCTYPE html>
  <html lang='en'>
    <head>
      <link rel="stylesheet" href="/style.css">
      <meta charset='utf-8'>
      <title>Calculator</title>
    </head>
<link rel="stylesheet" href="/css/master.css">
    <body>
      <div class='welcome'>
        <a href="https://en.wikipedia.org/wiki/Rock-paper-scissors" target="blank"<p class="rules">Rules</p></a>
        <p> </p>
      </div>
      <%= yield %>
    </body>
  </html>
